img{display:block;float: left;}
li,ul{list-style: none;}
ul{
    margin-block-start:0;
    margin-block-end:0;
    padding-inline-start:0;
}
dl,dt,dd{margin: 0;padding:0;}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
body{
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/   
    -webkit-user-select:none; /*webkit浏览器*/   
    -khtml-user-select:none; /*早期浏览器*/   
    -moz-user-select:none;/*火狐*/   
    -ms-user-select:none; /*IE10*/   
    user-select:none;  
    margin: 0;
    color: rgba(0,0,0,0.80);
    font-family: '黑体';
}
.black-font{
    font-family: '黑体';
}
.buttonActive{
    opacity:0.75;
  }
.stop{ touch-action: none; }
a,a:active,a:hover,a:visited{
    text-decoration: none;
}
input{
    outline: none;
}
i{
    font-style: normal;
}
.over-flow{
    overflow-y:auto;
}
input{
    background: none;
    border: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-appearance:none;
}
button{
    font-size: .555556rem;
    border: none;
    transition: all 0.2s;
    outline: none;
    background: none;
}
.op-none{
    opacity: 0;
}
.op-block{
    opacity: 1;
}
.box{
    padding-left: .2778rem;
    padding-right: .2778rem;
}
.flex{
    display: flex;
}
.flex-center{
    justify-content: center;
}
.flex-items{
    align-items: center;
}
.flex-right{
    justify-content: end;
}
.flex-between{
    justify-content: space-between;
}
/* 边框 */
.border-purple{
    border:.0556rem solid rgba(91,18,92,1);
}
.border-pink{
    border:.0278rem solid rgba(233,157,255,1);
    
}
.text-right{
    text-align: right;
}
/* 圆角 */
.border-r6{
    border-radius: .1667rem;
}
.border-r8{
    border-radius: .2222rem;
}
.border-r10{
    border-radius: .2778rem;
}
.border-r14{
    border-radius: .3889rem;
}
.border-r30{
    border-radius: .8333rem;
}
.border-r32{
    border-radius: .8889rem;
}
.border-r65{
    border-radius: 1.8056rem;
}
.border-r18{
    border-radius: .5rem;
}
.border-r16{
    border-radius: .4444rem;
}
.border-r12{
    border-radius: .3333rem;
}
.border-round{
    border-radius: 50%;
}
/* 加粗 */
.bold{
    font-weight: bold;
}
/* 字号大小 */
.fs-20{
    font-size: .5556rem;
}
.fs-22{
    font-size: .6111rem;
}
.fs-24{
    font-size: .6667rem;
}
.fs-26{
    font-size: .7222rem;
}
.fs-12{
    font-size: .3333rem;
}
.fs-13{
    font-size: .3611rem;
}
.fs-15{
    font-size: .4167rem;
}
.fs-28{
    font-size: .7778rem;
}
.fs-30{
    font-size: .8333rem;
}
.fs-32{
    font-size: .8889rem;
}
.fs-40{
    font-size: 1.1111rem;
}
.fs-18{
    font-size: .5rem;
}
.fs-17{
    font-size: .4722rem;
}
.fs-16{
    font-size: .4444rem;
}
.fs-14{
    font-size: .3889rem;
}
.fs-10{
    transform: scale(0.9);
}
/* 颜色 */
.fc-brown{
    color: rgba(252,221,122,1);
}
.fc-yellow{
    color: #FFF35E;
}
.fc-black{
    color: rgba(0,0,0,0.8);
}
.fc-red{
    color:rgba(235,110,110,1);
}
.fc-pink{
    color: rgba(233,157,255,1);
}
.fc-purple{
    color:rgba(144,100,228,1);
}
.fc-orange{
    color:rgba(253,114,25,1);
}
.fc-hui2{
    color: rgba(0,0,0,0.2);
}
.fc-hui3{
    color: rgba(0,0,0,0.2);
}
.fc-hui1{
    color: rgba(0,0,0,0.1);
}
.fc-hui4{
    color: rgba(0,0,0,0.4);
}
.fc-white{
    color: #fff;
}
.fc-w8{
    color: rgba(255,255,255,0.80);
}
.fc-hui5{
    color: rgba(0,0,0,0.50);
}
.fc-hui6{
    color: rgba(0,0,0,0.60);
}
.fc-hui8{
    color: rgba(0,0,0,0.80);
}
.fc-hui3{
    color: rgba(0,0,0,0.30);
}
.font-bold{
    font-weight: bold;
}
.border-shadow{
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
}
/* 按钮颜色 */
.bg-btn-purple{
    background-image: linear-gradient(90deg, #CF6DFF 0%, #7D6FFF 100%);
}
/* 背景颜色 */
.bg-e2{
    background: #E2E2E2;
}
.bg-transform{
    background: rgba(255,255,255,0.5);
}
.bg-purple{
    background:rgba(202,22,255,1);
}
.bg-white{
    background: #fff;
}
.bg-red{
    background: #FF4C43;
}
.bg-pink{
    background: #FFD7D4;
}
.bg-brown{
    background: rgba(255,233,188,1);
}
.bg-hui6{
    background: rgba(0,0,0,0.06);
}
.bg-hui8{
    background: rgba(0,0,0,0.08);
}

/* 内边距 */
.pb-12{
    padding-bottom: .3333rem;
}
.pb-14{
    padding-bottom: .388889rem;
}
.pb-5{
    padding-bottom: .1389rem;
}
.pb-40{
    padding-bottom: 1.1111rem;
}
.pb-16{
    padding-bottom: .4444rem;
}
.pb-8{
    padding-bottom: .2222rem;
}
.pb-80{
    padding-bottom: 2.2222rem;
}
.pb-20{
    padding-bottom: .5556rem;
}
.pt-10{
    padding-top: .2778rem;
}
.pt-8{
    padding-top: .2222rem;
}
.pt-12{
    padding-top: .3333rem;
}
.pt-16{
    padding-top: .4444rem;
}
.pt-20{
    padding-top: .5556rem;
}

.plr-18{
    padding-left: .5rem;
    padding-right: .5rem;
}
.pl-12{
    padding-left: .3333rem;
}
.pl-16{
    padding-left: .4444rem;
}
.pl-18{
    padding-left: .5rem;
}
.pl-20{
    padding-left: .555556rem;
}
.pl-30{
    padding-left: .8333rem;
}
.pl-15{
    padding-left: .4167rem;
}
.pr-15{
    padding-right:.4167rem;
}
.pl-25{
    padding-left: .6944rem;
}
.pr-30{
    padding-right: .8333rem;
}
.pr-25{
    padding-right: .6944rem;
}
.pr-12{
    padding-right: .3333rem;
}
.pr-16{
    padding-right: .4444rem;
}
.pr-18{
    padding-right: .5rem;
}
.pr-20{
    padding-right: .555556rem;
}
/* 外边距 */
.ml-5{
    margin-left: .1389rem;
}
.ml-16{
    margin-left: .4444rem;
}
.ml-18{
    margin-left: .5rem;
}
.ml-6{
    margin-left: .1667rem;
}
.ml-8{
    margin-left: .2222rem;
}
.ml-10{
    margin-left: .2778rem;
}
.ml-20{
    margin-left: .5556rem;
}
.ml-24{
    margin-left: .6667rem;
}
.ml-30{
    margin-left: .8333rem;
}
.mt-1{
    margin-top: .0278rem;
}
.mt-7{
    margin-top: .1944rem;
}
.mt-6{
    margin-top: .1667rem;
}
.mt-5{
    margin-top: .1389rem;
}
.mt-4{
    margin-top: .1111rem;
}
.mt-2{
    margin-top: .0556rem;
}
.mt-8{
    margin-top: .2222rem;
}
.mt-24{
    margin-top: .6667rem;
}
.mt-26{
    margin-top: .7222rem;
}
.mt-22{
    margin-top: .6111rem;
}
.mt-20{
    margin-top: .5556rem;
}
.mt-32{
    margin-top: .8889rem;
}
.mt-34{
    margin-top: .9444rem;
}
.mt-38{
    margin-top: 1.0556rem;
}
.mt-12{
    margin-top: .3333rem;
}
.mt-10{
    margin-top: .2778rem;
}
.mt-18{
    margin-top: .5rem;
}
.mt-16{
    margin-top: .4444rem;
}
.mt-14{
    margin-top: .3889rem;
}
.mt-48{
    margin-top: 1.3333rem;
}
.mt-40{
    margin-top: 1.1111rem;
}
.mt-30{
    margin-top: .8333rem;
}
.mt-62{
    margin-top: 1.7222rem;
}
.ml-40{
    margin-left: 1.1111rem;
}
.ml-16{
    margin-left: .4444rem;
}

.ml-4{
    margin-left: .1111rem;
}
.mr-40{
    margin-right: 1.1111rem;
}
.mr-24{
    margin-right: .6667rem;
}
.mr-16{
    margin-right: .4444rem;
}
.mr-28{
    margin-right: .7778rem;
}
.mr-30{
    margin-right: .8333rem;
}
.mr-20{
    margin-right: .5556rem;
}
.mr-12{
    margin-right: .3333rem;
}
.mr-8{
    margin-right: .2222rem;
}
.mr-5{
    margin-right: .1389rem;
}
.mr-6{
    margin-right: .1667rem;
}
.mr-4{
    margin-right: .1111rem;
}
.mr-10{
    margin-right: .2778rem;
}
.mb-10{
    margin-bottom: .2778rem;
}
.mb-5{
    margin-bottom: .1389rem;
}
.text-center{
    text-align: center;
}
/* 大小 */
.w28{
    width: .7778rem;
    height: .7778rem;
}
.w40{
    width: 1.1111rem;
    height: 1.1111rem;
}
.w48{
    width: 1.3333rem;
    height: 1.3333rem;
}

.w64{
    width: 1.7778rem;
    height: 1.7778rem;
    
}
.w108{
    width: 3rem;
    height: 2.5556rem;
}
.w56{
    width: 1.5556rem;
    height: 1.5556rem;
}
.w24{
    width: .6667rem;
    height: .6667rem;
}
.w16{
    width: .4444rem;
    height: .4444rem;
}
.w14{
    width: .3889rem;
    height: .3889rem;
}
.w12{
    width: .3333rem;
    height: .3333rem;
}
.w44{
    width: 1.2222rem;
    height: 1.2222rem;
}
.w32{
    width: .8889rem;
    height: .8889rem;
}
.w36{
    width: 1rem;
    height: 1rem;
}
.width-100{
    width:100%;
}
.width-36{
    width: 1rem;
}
.width-20{
    width: .5556rem;
}
.width-15{
    width: .4167rem;
}
.width-14{
    width: .3889rem;
}
.width-10{
    width: .2778rem;
}
.width-12{
    width: .3333rem;
}
.width-24{
    width: .6667rem;
}
.width-48{
    width: 1.3333rem;
}
.width-90{
    width: 2.5rem;
}
.h26{
    height: .7222rem;
}
.fixed{
    position: fixed;
}
/* 布局 */
.flex-right{
    display: flex;
    justify-content: flex-end;
}
.flex-left{
    display: flex;
    justify-content: flex-start;
}
.flex-center{
    display: flex;
    align-items: center;
}
.flex-items-center{
    display: flex;
    align-items: center;
}
.flex-bottom{
    display: flex;
    align-items: flex-end;
}
.flex-justify-center{
    display: flex;
    justify-content: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-around{
    display: flex;
    justify-content: space-around;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}
/* 定位 */
.position-absolute{
    position: absolute;
}
.position-relative{
    position: relative;
}
/* 显示隐藏 */
.hide{
    display: none;
}
[v-cloak]{
    display: none;
}
.show{
    display: block;
}
.flex{
    display: flex;
}
a.rules {
    display: inline-block;
    width: 1.9444rem;
    height: .6944rem;
    transform: scale(0.8);
    color: #fff;
    text-align: center;
    line-height: 0.6667rem;
    border-radius: 0.6667rem;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 0.3333rem;
    top: 0.6111rem;
  }
  .toast{
    background: rgba(0,0,0,0.60);
    position: fixed;
    padding: .5556rem .6667rem;
    left: 50%;
    top: 50%;
    z-index: 999;
    transform: translate(-50%,-50%);
    white-space:nowrap;
  }
